:root {
  
  --brand-50: 240 253 244;
  --brand-100: 220 252 231;
  --brand-200: 187 247 208;
  --brand-300: 134 239 172;
  --brand-400: 74 222 128;
  --brand-500: 34 197 94;
  --brand-600: 22 163 74;
  --brand-700: 21 128 61;
  --brand-800: 22 101 52;
  --brand-900: 20 83 45;
}

.dark {
  --brand-50: 240 253 244;
  --brand-100: 220 252 231;
  --brand-200: 187 247 208;
  --brand-300: 134 239 172;
  --brand-400: 74 222 128;
  --brand-500: 34 197 94;
  --brand-600: 22 163 74;
  --brand-700: 21 128 61;
  --brand-800: 22 101 52;
  --brand-900: 20 83 45;

  --tw-ring-color: rgb(var(--brand-900));
  --tw-ring-opacity: 0.5;
}
